<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<!-- Mirrored from fupath.com.vn/category/gioi-thieu/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Nov 2018 08:02:15 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel='stylesheet' id='zn_all_g_fonts-css'
          href='https://fonts.googleapis.com/css?family=Montserrat%3Aregular%2C500%2C700%7COpen+Sans%3Aregular%2C300%2C600%2C700%2C800&amp;ver=4.9.8'
          type='text/css' media='all'/>
    <link data-optimized='2' rel='stylesheet' href='min/09d10.css'/>
    <meta name="twitter:widgets:csp" content="on"/>
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="xmlrpc.php"/>

    <meta name="google-site-verification" content="g258qk74OXjA0hpfHodNCLe5wFdfczU5Xw-peqRDJ_8"/>
    <title>Danh Sách</title>
    <link rel="shortcut icon" href="wp-content/uploads/2018/11/logo-title.png">
    <!-- This site is optimized with the Yoast SEO plugin v9.2.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="index.html"/>
    <link rel="next" href="page/2/index.html"/>
    <meta property="og:locale" content="vi_VN"/>
    <meta property="og:type" content="object"/>
    <meta property="og:title" content="Giới thiệu Archives - FUTURE PATH: Du học - Định Cư Canada"/>
    <meta property="og:url" content="index.html"/>
    <meta property="og:site_name" content="FUTURE PATH: Du học - Định Cư Canada"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Giới thiệu Archives - FUTURE PATH: Du học - Định Cư Canada"/>
    <script type='application/ld+json'>
        {"@context":"https:\/\/schema.org","@type":"Organization","url":"https:\/\/fupath.com.vn\/","sameAs":[],"@id":"https:\/\/fupath.com.vn\/#organization","name":"C\u00d4NG TY T\u01af V\u1ea4N \u0110\u1ecaNH C\u01af QU\u1ed0C T\u1ebe FUTURE PATH","logo":"https:\/\/fupath.com.vn\/wp-content\/uploads\/2018\/11\/logo-company.png"}









    </script>
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='http://fonts.googleapis.com/'/>
    <link rel='dns-prefetch' href='http://s.w.org/'/>
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin FUTURE PATH: Du học - Định Cư Canada &raquo;"
          href="feed/index.html"/>
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi FUTURE PATH: Du học - Định Cư Canada &raquo;"
          href="comments/feed/index.html"/>
    <link rel="alternate" type="application/rss+xml"
          title="Dòng thông tin chuyên mục FUTURE PATH: Du học - Định Cư Canada &raquo; Giới thiệu"
          href="feed/index.html"/>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "https:\/\/fupath.com.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8"}
        };
        !function (a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case"flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case"emoji":
                        return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (h = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>


    <link rel='stylesheet' id='th-theme-print-stylesheet-css'
          href='wp-content/themes/isharedigital/css/print4b42.css?ver=4.16.8' type='text/css' media='print'/>

    <script type='text/javascript' src='wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var plhg_script_vars = {
            "ajaxurl": "https:\/\/fupath.com.vn\/wp-admin\/admin-ajax.php",
            "nonce": "a254bc8ea1",
            "error_message": "Sorry, there was a problem processing your request."
        };
        /* ]]> */
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var nfi18n = {
            "ninjaForms": "Ninja Forms",
            "changeEmailErrorMsg": "H\u00e3y nh\u1eadp m\u1ed9t \u0111\u1ecba ch\u1ec9 email h\u1ee3p l\u1ec7!",
            "changeDateErrorMsg": "Please enter a valid date!",
            "confirmFieldErrorMsg": "Nh\u1eefng tr\u01b0\u1eddng n\u00e0y ph\u1ea3i kh\u1edbp!",
            "fieldNumberNumMinError": "L\u1ed7i s\u1ed1 t\u1ed1i thi\u1ec3u",
            "fieldNumberNumMaxError": "L\u1ed7i s\u1ed1 t\u1ed1i \u0111a",
            "fieldNumberIncrementBy": "H\u00e3y t\u0103ng theo ",
            "fieldTextareaRTEInsertLink": "Ch\u00e8n li\u00ean k\u1ebft",
            "fieldTextareaRTEInsertMedia": "Ch\u00e8n ph\u01b0\u01a1ng ti\u1ec7n",
            "fieldTextareaRTESelectAFile": "Ch\u1ecdn t\u1eadp tin",
            "formErrorsCorrectErrors": "H\u00e3y s\u1eeda l\u1ed7i tr\u01b0\u1edbc khi g\u1eedi m\u1eabu n\u00e0y.",
            "validateRequiredField": "\u0110\u00e2y l\u00e0 m\u1ed9t tr\u01b0\u1eddng b\u1eaft bu\u1ed9c.",
            "honeypotHoneypotError": "L\u1ed7i Honeypot",
            "fileUploadOldCodeFileUploadInProgress": "\u0110ang t\u1ea3i t\u1eadp tin l\u00ean.",
            "fileUploadOldCodeFileUpload": "T\u1ea2I T\u1eacP TIN L\u00caN",
            "currencySymbol": "",
            "fieldsMarkedRequired": "C\u00e1c tr\u01b0\u1eddng \u0111\u01b0\u1ee3c \u0111\u00e1nh d\u1ea5u <span class=\"ninja-forms-req-symbol\">*<\/span> l\u00e0 b\u1eaft bu\u1ed9c",
            "thousands_sep": ".",
            "decimal_point": ",",
            "dateFormat": "m\/d\/Y",
            "startOfWeek": "1",
            "of": "c\u1ee7a",
            "previousMonth": "Previous Month",
            "nextMonth": "Next Month",
            "months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            "monthsShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            "weekdaysShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            "weekdaysMin": ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"]
        };
        var nfFrontEnd = {
            "ajaxNonce": "de38a67788",
            "requireBaseUrl": "https:\/\/fupath.com.vn\/wp-content\/plugins\/ninja-forms\/assets\/js\/",
            "use_merge_tags": {
                "user": {
                    "address": "address",
                    "textbox": "textbox",
                    "button": "button",
                    "checkbox": "checkbox",
                    "city": "city",
                    "confirm": "confirm",
                    "date": "date",
                    "email": "email",
                    "firstname": "firstname",
                    "html": "html",
                    "hidden": "hidden",
                    "lastname": "lastname",
                    "listcheckbox": "listcheckbox",
                    "listcountry": "listcountry",
                    "listmultiselect": "listmultiselect",
                    "listradio": "listradio",
                    "listselect": "listselect",
                    "liststate": "liststate",
                    "note": "note",
                    "number": "number",
                    "password": "password",
                    "passwordconfirm": "passwordconfirm",
                    "product": "product",
                    "quantity": "quantity",
                    "recaptcha": "recaptcha",
                    "shipping": "shipping",
                    "spam": "spam",
                    "starrating": "starrating",
                    "submit": "submit",
                    "terms": "terms",
                    "textarea": "textarea",
                    "total": "total",
                    "unknown": "unknown",
                    "zip": "zip",
                    "hr": "hr"
                },
                "post": {
                    "address": "address",
                    "textbox": "textbox",
                    "button": "button",
                    "checkbox": "checkbox",
                    "city": "city",
                    "confirm": "confirm",
                    "date": "date",
                    "email": "email",
                    "firstname": "firstname",
                    "html": "html",
                    "hidden": "hidden",
                    "lastname": "lastname",
                    "listcheckbox": "listcheckbox",
                    "listcountry": "listcountry",
                    "listmultiselect": "listmultiselect",
                    "listradio": "listradio",
                    "listselect": "listselect",
                    "liststate": "liststate",
                    "note": "note",
                    "number": "number",
                    "password": "password",
                    "passwordconfirm": "passwordconfirm",
                    "product": "product",
                    "quantity": "quantity",
                    "recaptcha": "recaptcha",
                    "shipping": "shipping",
                    "spam": "spam",
                    "starrating": "starrating",
                    "submit": "submit",
                    "terms": "terms",
                    "textarea": "textarea",
                    "total": "total",
                    "unknown": "unknown",
                    "zip": "zip",
                    "hr": "hr"
                },
                "system": {
                    "address": "address",
                    "textbox": "textbox",
                    "button": "button",
                    "checkbox": "checkbox",
                    "city": "city",
                    "confirm": "confirm",
                    "date": "date",
                    "email": "email",
                    "firstname": "firstname",
                    "html": "html",
                    "hidden": "hidden",
                    "lastname": "lastname",
                    "listcheckbox": "listcheckbox",
                    "listcountry": "listcountry",
                    "listmultiselect": "listmultiselect",
                    "listradio": "listradio",
                    "listselect": "listselect",
                    "liststate": "liststate",
                    "note": "note",
                    "number": "number",
                    "password": "password",
                    "passwordconfirm": "passwordconfirm",
                    "product": "product",
                    "quantity": "quantity",
                    "recaptcha": "recaptcha",
                    "shipping": "shipping",
                    "spam": "spam",
                    "starrating": "starrating",
                    "submit": "submit",
                    "terms": "terms",
                    "textarea": "textarea",
                    "total": "total",
                    "unknown": "unknown",
                    "zip": "zip",
                    "hr": "hr"
                },
                "fields": {
                    "address": "address",
                    "textbox": "textbox",
                    "button": "button",
                    "checkbox": "checkbox",
                    "city": "city",
                    "confirm": "confirm",
                    "date": "date",
                    "email": "email",
                    "firstname": "firstname",
                    "html": "html",
                    "hidden": "hidden",
                    "lastname": "lastname",
                    "listcheckbox": "listcheckbox",
                    "listcountry": "listcountry",
                    "listmultiselect": "listmultiselect",
                    "listradio": "listradio",
                    "listselect": "listselect",
                    "liststate": "liststate",
                    "note": "note",
                    "number": "number",
                    "password": "password",
                    "passwordconfirm": "passwordconfirm",
                    "product": "product",
                    "quantity": "quantity",
                    "recaptcha": "recaptcha",
                    "shipping": "shipping",
                    "spam": "spam",
                    "starrating": "starrating",
                    "submit": "submit",
                    "terms": "terms",
                    "textarea": "textarea",
                    "total": "total",
                    "unknown": "unknown",
                    "zip": "zip",
                    "hr": "hr"
                },
                "calculations": {"html": "html", "hidden": "hidden", "note": "note", "unknown": "unknown"}
            },
            "opinionated_styles": ""
        };
        /* ]]> */
    </script>
    <link rel='https://api.w.org/' href='wp-json/index.html'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 4.9.8"/>
    <meta name="theme-color"
          content="#c08e00">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!--[if lte IE 8]>
    <script type="text/javascript">
        var $buoop = {
            vs: {i: 10, f: 25, o: 12.1, s: 7, n: 9}
        };

        $buoop.ol = window.onload;

        window.onload = function () {
            try {
                if ($buoop.ol) {
                    $buoop.ol()
                }
            }
            catch (e) {
            }

            var e = document.createElement("script");
            e.setAttribute("type", "text/javascript");
            e.setAttribute("src", "https://browser-update.org/update.js");
            document.body.appendChild(e);
        };
    </script>
    <![endif]-->

    <!-- for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fallback for animating in viewport -->
    <noscript>
        <style type="text/css" media="screen">
            .zn-animateInViewport {
                visibility: visible;
            }
        </style>
    </noscript>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N6TKJBL');</script>
    <!-- End Google Tag Manager --></head>

<body class="archive category category-gioi-thieu category-522 res1170 kl-sticky-header kl-skin--light"
      itemscope="itemscope" itemtype="https://schema.org/WebPage">


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6TKJBL"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="login_register_stuff"></div><!-- end login register stuff -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
        return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="page_wrapper">

    <header id="header"
            class="site-header  style7 cta_button header--sticky header--not-sticked     sticky-resize headerstyle--image_color site-header--absolute nav-th--light sheader-sh--default"
            data-original-sticky-textscheme="sh--default" role="banner" itemscope="itemscope"
            itemtype="https://schema.org/WPHeader">
        <div class="kl-header-bg "></div>
        <div class="site-header-wrapper sticky-top-area">

            <div class="site-header-top-wrapper topbar-style--custom  sh--light">

                <div class="siteheader-container container">


                    <div class="fxb-row site-header-row site-header-top ">

                        <div class='fxb-col fxb fxb-start-x fxb-center-y fxb-basis-auto site-header-col-left site-header-top-left'>
                            <#--<ul class="sh-component social-icons sc--clean topnav navRight topnav-no-hdnav">-->
                                <#--<li class="topnav-li social-icons-li"><a href="#" data-zniconfam="kl-social-icons"-->
                                                                         <#--data-zn_icon="" target="_self"-->
                                                                         <#--class="topnav-item social-icons-item scheader-icon-"-->
                                                                         <#--title="Facebook"></a></li>-->
                                <#--<li class="topnav-li social-icons-li"><a href="#" data-zniconfam="kl-social-icons"-->
                                                                         <#--data-zn_icon="" target="_self"-->
                                                                         <#--class="topnav-item social-icons-item scheader-icon-"-->
                                                                         <#--title="Twitter"></a></li>-->
                                <#--<li class="topnav-li social-icons-li"><a href="#" data-zniconfam="kl-social-icons"-->
                                                                         <#--data-zn_icon="" target="_self"-->
                                                                         <#--class="topnav-item social-icons-item scheader-icon-"-->
                                                                         <#--title="Pinterest"></a></li>-->
                            <#--</ul>-->
                            <div class="sh-component kl-header-toptext kl-font-alt"> TỔNG ĐÀI: <a
                                    href="tel:0989844849" class="fw-bold">0989844849</a></div>
                        </div>
                    </div><!-- /.site-header-top -->

                    <div class="separator site-header-separator "></div>

                </div>
            </div><!-- /.site-header-top-wrapper -->

            <div class="kl-top-header site-header-main-wrapper clearfix   header-no-bottom  sh--default">

                <div class="container siteheader-container ">

                    <div class='fxb-col fxb-basis-auto'>


                        <div class="fxb-row site-header-row site-header-main ">

                            <div class='fxb-col fxb fxb-start-x fxb-center-y fxb-basis-auto fxb-grow-0 fxb-sm-full site-header-col-left site-header-main-left'>
                                <div id="logo-container"
                                     class="logo-container hasInfoCard  logosize--no zn-original-logo">
                                    <!-- Logo -->
                                    <h3 class='site-logo logo ' id='logo'><a href='/'
                                                                             class='site-logo-anch'><img style="width: 110px;height: 60px"
                                            class="logo-img site-logo-img"
                                            src="wp-content/uploads/2018/11/logo-company.png" width="46"
                                            height="55" alt=""
                                            title=""/></a></h3><!-- InfoCard -->

                                    <div id="infocard" class="logo-infocard">
                                        <div class="custom ">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="infocard-wrapper text-center">
                                                        <p><img src="wp-content/uploads/2018/11/logo-company.png"
                                                                alt=""></p>
                                                        <p>Future Path là công ty chuyên về tư vấn du học, định cư và hỗ trợ dịch vụ visa du lịch các nước Canada, Úc, Mỹ, New Zealand và Châu Âu.</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-7">
                                                    <div class="custom contact-details">

                                                        <p>
                                                            <strong>0989844849</strong><br>

                                                            Email:&nbsp;<a href="mailto:info@fupath.com.vn">info@fupath.com.vn</a>
                                                        </p>

                                                        <p>
                                                            CÔNG TY TNHH TM DV FUTURE PATH<br/>107 Tầng trệt chung cư Phú Hòa, P. Phú Hòa, Thủ Dầu Một, Bình Dương </p>


                                                    </div>

                                                    <div style="height:20px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="separator site-header-separator visible-xs"></div>
                            </div>

                            <div class='fxb-col fxb fxb-center-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-col-center site-header-main-center'>
                                <div class="sh-component main-menu-wrapper" role="navigation" itemscope="itemscope"
                                     itemtype="https://schema.org/SiteNavigationElement">

                                    <div class="zn-res-menuwrapper">
                                        <a href="#"
                                           class="zn-res-trigger zn-menuBurger zn-menuBurger--3--s zn-menuBurger--anim1 "
                                           id="zn-res-trigger">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a>
                                    </div><!-- end responsive menu -->
                                    <div id="main-menu"
                                         class="main-nav mainnav--sidepanel mainnav--active-text mainnav--pointer-dash nav-mm--light zn_mega_wrapper ">
                                        <ul id="menu-header" class="main-menu main-menu-nav zn_mega_menu ">
                                             <#list menuList as menu>
                                                 <li id="menu-item-3017"
                                                     class="main-menu-item menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-3017  main-menu-item-top  menu-item-even menu-item-depth-0">
                                                      <#if menu.id=='1'>
                                                     <a href="/"
                                                        class=" main-menu-link main-menu-link-top"><span>${menu.name}</span></a>
                                                      <#else >
                                                          <#if menu.id=='2'>
                                                          <a href="content?id=23"
                                                             class=" main-menu-link main-menu-link-top"><span>${menu.name}</span></a>
                                                          <#else>
                                                          <a href="menuItems?id=${menu.id}"
                                                             class=" main-menu-link main-menu-link-top"><span>${menu.name}</span></a>
                                                          </#if>

                                                      </#if>
                                                      <#if menu.projects?size != 0 >
                                                     <ul class="sub-menu clearfix">
                                                    <#list menu.projects as projects>
                                                        <li id="menu-item-3019"
                                                            class="main-menu-item menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3019  main-menu-item-sub  menu-item-odd menu-item-depth-1">
                                                            <a href="items?id=${projects.id}"
                                                               class=" main-menu-link main-menu-link-sub"><span>${projects.name}</span></a>
                                                        </li>
                                                    </#list>
                                                     </ul>
                                                      </#if>
                                                 </li>
                                             </#list>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end main_menu -->
                            </div>

                            <div class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-col-right site-header-main-right'>

                                <div class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-main-right-top'>
                                    <a href="/contact" id="ctabutton"
                                       class="sh-component ctabutton kl-cta-ribbon " rel="noopener"
                                       itemprop="url" style="background-color: #ebe1c8">
                                        <strong>LIÊN</strong>
                                        <strong >HỆ</strong>
                                    </a>
                                </div>



                            </div>

                        </div><!-- /.site-header-main -->


                    </div>

                </div><!-- /.siteheader-container -->

            </div><!-- /.site-header-main-wrapper -->


        </div><!-- /.site-header-wrapper -->
    </header>
    <div id="page_header"
         class="page-subheader page-subheader--auto page-subheader--inherit-hp zn_def_header_style  psubhead-stheader--absolute sh-tcolor--light">

        <div class="bgback"></div>


        <div class="th-sparkles"></div>

        <!-- DEFAULT HEADER STYLE -->
        <div class="zn_header_bottom_style"></div>
    </div>
    <section id="content" class="site-content">
        <div class="container">
            <div class="row">

                <div id="th-content-archive" class="col-md-12" role="main" itemprop="mainContentOfPage">

                    <div class="itemListView clearfix eBlog kl-blog kl-blog-list-wrapper kl-blog--style-light"
                         itemscope="itemscope" itemtype="https://schema.org/Blog">


                        <div class="itemList zn_blog_columns kl-blog--columns kl-cols-3 row">
                             <#list itemList as item>
                                 <div class="col-sm-6 col-lg-4 blog-isotope-item kl-blog-column">
                                     <div class="itemContainer kl-blog-item-container zn_columns zn_columns3 blog-post post-3130 post type-post status-publish format-standard has-post-thumbnail hentry category-cuoc-song-canada category-gioi-thieu tag-khi-hau-canada">


                                         <div class="itemThumbnail kl-blog-item-thumbnail">
                                             <div class="zn_full_image kl-blog-full-image"><a
                                                     href="content?id=${item.id}"
                                                     class="kl-blog-full-image-link hoverBorder">
                                                 <img width="1170"
                                                      height="658"
                                                      style="width: 360px;height: 220px"
                                                      src="${static_url}${item.imgUrl}"
                                                      class="kl-blog-full-image-img wp-post-image"
                                                      alt="${item.title}"
                                                 /></a>
                                             </div>
                                             <div class="overlay kl-blog-item-overlay">
                                                 <div class="overlay__inner kl-blog-item-overlay-inner">
                                                     <a href="content?id=${item.id}"
                                                        class="readMore kl-blog-item-overlay-more"
                                                        title="${item.title}"
                                                        data-readmore="Xem Thêm"></a>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="itemHeader kl-blog-item-header">
                                             <h3 class="itemTitle kl-blog-item-title" itemprop="headline"><a
                                                     href="content?id=${item.id}" rel="bookmark">${item.title}</a>
                                             </h3>
                                             <div class="post_details kl-blog-item-details kl-font-alt">
                                            <span class="catItemDateCreated kl-blog-item-date updated"
                                                  itemprop="datePublished">Thứ Tư, 07 Tháng Mười Một 2018</span>
                                                 <span class="catItemAuthor kl-blog-item-author" itemprop="author"
                                                       itemscope="itemscope" itemtype="https://schema.org/Person">by <a
                                                         href="author/acaclient/index.html"
                                                         title="Đăng bởi acaclient"
                                                         rel="author">acaclient</a></span>
                                             </div>
                                             <!-- end post details -->
                                         </div>


                                         <div class="itemBody kl-blog-item-body" itemprop="text">
                                             <div class="itemIntroText kl-blog-item-content">
                                                 ${item.description}
                                             </div>
                                             <!-- end Item Intro Text -->
                                             <div class="clearfix"></div>
                                         </div>
                                         <!-- end Item BODY -->


                                         <ul class="itemLinks kl-blog-item-links kl-font-alt clearfix">
                                             <li class="itemCategory kl-blog-item-category">
                                            <span class="kl-blog-item-category-icon"
                                                  data-zniconfam='glyphicons_halflingsregular'
                                                  data-zn_icon="&#xe117;"></span>
                                                 <span class="kl-blog-item-category-text">Published in</span>
                                                 <a href="cuoc-song-canada/index.html" rel="category tag">Cuộc sống
                                                     Canada</a>, <a href="index.html" rel="category tag">Giới thiệu</a>
                                             </li>
                                         </ul>
                                         <!-- item links -->
                                         <div class="clearfix"></div>

                                         <div class="itemTagsBlock kl-blog-item-tags kl-font-alt">
                                        <span class="kl-blog-item-tags-icon"
                                              data-zniconfam='glyphicons_halflingsregular'
                                              data-zn_icon="&#xe042;"></span>
                                             <span class="kl-blog-item-tags-text">Tagged under:</span>
                                             <a class="kl-blog-tag" href="tag/khi-hau-canada/index.html"
                                                rel="tag">Khi
                                                 Hậu Canada</a>
                                             <div class="clearfix"></div>
                                         </div><!-- end tags blocks -->


                                     </div><!-- end Blog Item -->
                                 </div>
                             </#list>
                        </div>
                        <!-- end .itemList -->

                        <!-- Pagination -->
                        <#if page!=0>
                        <div class="pagination--light">
                            <ul class="zn-paginationList kl-pagination">
                                <#if currentPage !=1>

                                  <li class="pagination-item">
                                      <a href="menuItems?id=${id}&page=${prePage}"
                                         class="pagination-item-link pagination-item-next-link">
                                        <span class="zn_icon" data-zniconfam="glyphicons_halflingsregular"
                                              data-zn_icon="&#xe257;"></span>
                                      </a>
                                  </li>
                                </#if>
                                <#if page!=1>
                                    <#assign x=page>
                                    <#list 1..x as i>
                                    <li class="pagination-item">
                                        <a class="pagination-item-link"
                                           href="menuItems?id=${id}&page=${i}">
                                            <span class="pagination-item-span">${i}</span>
                                        </a>
                                    </li>
                                    </#list>
                                </#if>
                                <#if currentPage !=page>
                                <li class="pagination-item ">
                                    <a href="menuItems?id=${id}&page=${nextPage}"
                                       class="pagination-item-link pagination-item-next-link">
                                        <span class="zn_icon" data-zniconfam="glyphicons_halflingsregular"
                                              data-zn_icon="&#xe258;"></span>
                                    </a>
                                </li>
                                </#if>
                            </ul>
                        </div>
                        </#if>

                    </div>
                </div><!--// #th-content-archive -->

            </div>
        </div>
    </section><!--// #content -->
    <div class="znpb-footer-smart-area">
        <section class="zn_section eluida4d7affe     section-sidemargins    section--no " id="eluida4d7affe">


            <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">

                <div class="row ">

                    <div class="eluidc53043a2            col-md-4 col-sm-4   znColumnElement" id="eluidc53043a2">


                        <div class="znColumnElement-innerWrapper-eluidc53043a2 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

                            <div class="znColumnElement-innerContent">
                                <div class="zn_custom_html eluid4eba6004 "><h2 style="font-size:16px; font-weight:600;">
                                    CÔNG TY TNHH TM DV FUTURE PATH</h2>
                                    <div class="footer-01"><i class="fas fa-map-marker-alt"></i> Văn phòng: 107 Tầng trệt chung cư Phú Hòa, P. Phú Hòa, Thủ Dầu Một, Bình Dương <br/></div>
                                    <div class="footer-01"><i class="fas fa-phone"></i> 0989844849 hoặc 0274.3889838<br/></div>
                                    <div class="footer-01"><i class="fas fa-envelope-open"></i>
                                        info@fupath.com.vn<br/></div>
                                    <div class="footer-01"><i class="fab fa-chrome"></i> fupath.com.vn</div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="eluid7634e351            col    -md-4 col-sm-4   znColumnElement" id="eluid7634e351">
                        <div class="znColumnElement-innerWrapper-eluid7634e351 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                            <div class="znColumnElement-innerContent">
                                <div class="zn_text_box eluideeaba11e  zn_text_box-light element-scheme--light">
                                    <h3 class="zn_text_box-title zn_text_box-title--style1 text-custom">ĐĂNG KÝ BẢN TIN</h3>
                                    <p>Nhập Email để nhận những thông tin mới nhất</p>
                                    <div class="nf-form-layout">
                                        <form method="post" action="/addMail" enctype="multipart/form-data">

                                            <div class="nf-form-content ">
                                                <div
                                                        class="nf-field-container email-container  label-hidden ">
                                                    <div class="nf-field">
                                                        <div class="field-wrap email-wrap"
                                                             data-field-id="5">
                                                            <div class="nf-field-label"><label
                                                                    for="nf-field-5" id="nf-label-field-5"
                                                                    class="">Email </label></div>


                                                            <div class="nf-field-element">
                                                                <input type="email" value=""
                                                                       class="ninja-forms-field nf-element"
                                                                       id="nf-field-5" name="email"
                                                                       autocomplete="email"
                                                                       placeholder="Email nhận bản tin..."
                                                                       aria-invalid="false"
                                                                       aria-describedby="nf-error-5"
                                                                       aria-labelledby="nf-label-field-5">
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                        class="nf-field-container submit-container  label-above  textbox-container">

                                                    <div class="nf-field">
                                                        <div
                                                                class="field-wrap submit-wrap textbox-wrap"
                                                                data-field-id="6">
                                                            <div class="nf-field-label"></div>
                                                            <div class="nf-field-element">
                                                                <input id="nf-field-6"
                                                                       class="ninja-forms-field nf-element "
                                                                       type="submit" value="Đăng ký">
                                                            </div>
                                                            <div class="nf-error-wrap"></div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="eluid32ca4ac9            col-md-4 col-sm-4   znColumnElement" id="eluid32ca4ac9">


                        <div class="znColumnElement-innerWrapper-eluid32ca4ac9 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

                            <div class="znColumnElement-innerContent"><h3 class="eluidb8e9a23d  dn-heading"
                                                                          id="eluidb8e9a23d" itemprop="headline">LIÊN
                                KẾT MẠNG XÃ HỘI</h3>
                                <div class="elm-socialicons eluid784cc3d1  text-left sc-icon--left elm-socialicons--light element-scheme--light">
                                    <ul class="elm-social-icons sc--normal sh--rounded sc-lay--normal clearfix">
                                        <li class="elm-social-icons-item"><span class="elm-sc-icon "
                                                                                data-zniconfam="kl-social-icons"
                                                                                data-zn_icon=""></span>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li class="elm-social-icons-item"><span class="elm-sc-icon "
                                                                                data-zniconfam="kl-social-icons"
                                                                                data-zn_icon=""></span>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li class="elm-social-icons-item"><span class="elm-sc-icon "
                                                                                data-zniconfam="kl-social-icons"
                                                                                data-zn_icon=""></span>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li class="elm-social-icons-item"><span class="elm-sc-icon "
                                                                                data-zniconfam="kl-social-icons"
                                                                                data-zn_icon=""></span>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="eluid856aff17            col-md-12 col-sm-12   znColumnElement" id="eluid856aff17">


                        <div class="znColumnElement-innerWrapper-eluid856aff17 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

                            <div class="znColumnElement-innerContent">
                                <div class="zn_separator clearfix eluid3e1cbc0d zn_separator--icon-no "></div>
                                <div class="zn_text_box eluidee589fa3  zn_text_box-light element-scheme--light"><p>
                                    Copyright © 2018 FUTURE PATH. All rights reserved.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </section>


    </div>
</div><!-- end page_wrapper -->

<a href="#" id="totop" class="u-trans-all-2s js-scroll-event" data-forch="300" data-visibleclass="on--totop">TOP</a>

<div id="pum-4005" class="pum pum-overlay pum-theme-4003 pum-theme-cutting-edge popmake-overlay click_open"
     data-popmake="{&quot;id&quot;:4005,&quot;slug&quot;:&quot;dang-ky-tu-van&quot;,&quot;theme_id&quot;:4003,&quot;cookies&quot;:[],&quot;triggers&quot;:[{&quot;type&quot;:&quot;click_open&quot;,&quot;settings&quot;:{&quot;cookie_name&quot;:&quot;&quot;,&quot;extra_selectors&quot;:&quot;.dang-ky-tu-van&quot;}}],&quot;mobile_disabled&quot;:null,&quot;tablet_disabled&quot;:null,&quot;meta&quot;:{&quot;display&quot;:{&quot;stackable&quot;:false,&quot;overlay_disabled&quot;:false,&quot;scrollable_content&quot;:false,&quot;disable_reposition&quot;:false,&quot;size&quot;:&quot;medium&quot;,&quot;responsive_min_width&quot;:&quot;0%&quot;,&quot;responsive_min_width_unit&quot;:false,&quot;responsive_max_width&quot;:&quot;100%&quot;,&quot;responsive_max_width_unit&quot;:false,&quot;custom_width&quot;:&quot;640px&quot;,&quot;custom_width_unit&quot;:false,&quot;custom_height&quot;:&quot;380px&quot;,&quot;custom_height_unit&quot;:false,&quot;custom_height_auto&quot;:false,&quot;location&quot;:&quot;center top&quot;,&quot;position_from_trigger&quot;:false,&quot;position_top&quot;:&quot;57&quot;,&quot;position_left&quot;:&quot;0&quot;,&quot;position_bottom&quot;:&quot;0&quot;,&quot;position_right&quot;:&quot;0&quot;,&quot;position_fixed&quot;:false,&quot;animation_type&quot;:&quot;fade&quot;,&quot;animation_speed&quot;:&quot;350&quot;,&quot;animation_origin&quot;:&quot;center top&quot;,&quot;overlay_zindex&quot;:false,&quot;zindex&quot;:&quot;1999999999&quot;},&quot;close&quot;:{&quot;text&quot;:&quot;&quot;,&quot;button_delay&quot;:&quot;0&quot;,&quot;overlay_click&quot;:false,&quot;esc_press&quot;:false,&quot;f4_press&quot;:false},&quot;click_open&quot;:[]}}"
     role="dialog" aria-hidden="true">

    <div id="popmake-4005"
         class="pum-container popmake theme-4003 pum-responsive pum-responsive-medium responsive size-medium">


        <div class="pum-content popmake-content">
            <p style="text-align: center;"><span style="color: #c40c0c;"><strong>ĐĂNG KÝ TƯ VẤN MIỄN PHÍ</strong></span>
            </p>
            <p style="text-align: center;"><span style="color: #000000;"><strong>FUTURE PATH</strong> sẽ gọi lại tư vấn khi nhận được thông tin đăng ký</span>
            </p>
            <p style="text-align: center;"><span style="color: #000000;">Hoặc gọi <a href="tel:0989844849">0989844849</a><strong> </strong>để được hỗ trợ.</span>
            </p>
            <noscript class="ninja-forms-noscript-message">
                Lưu ý: Cần phải có JavaScript với nội dung này.
            </noscript>
            <div id="nf-form-3-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-3"
                 aria-describedby="nf-form-errors-3" role="form">

                <div class="nf-loading-spinner"></div>

            </div>
            <!-- TODO: Move to Template File. -->
            <script>var formDisplay = 1;
            var nfForms = nfForms || [];
            var form = [];
            form.id = '3';
            form.settings = {
                "objectType": "Form Setting",
                "editActive": true,
                "title": "Call to action",
                "created_at": "2018-11-01 11:29:41",
                "form_title": "Contact Me - copy",
                "default_label_pos": "above",
                "show_title": "0",
                "clear_complete": "1",
                "hide_complete": "1",
                "logged_in": "0",
                "key": "",
                "conditions": [],
                "wrapper_class": "",
                "element_class": "",
                "add_submit": "1",
                "not_logged_in_msg": "",
                "sub_limit_number": "",
                "sub_limit_msg": "",
                "calculations": [],
                "formContentData": ["tieu_de_1541040145974", "ho_ten_1541040140514", "email", "dien_thoai_1541040295848", "noi_dung_1541040236774", "dang_ky_tu_van_mien_phi_1541043222535"],
                "container_styles_background-color": "",
                "container_styles_border": "",
                "container_styles_border-style": "",
                "container_styles_border-color": "",
                "container_styles_color": "",
                "container_styles_height": "",
                "container_styles_width": "",
                "container_styles_font-size": "",
                "container_styles_margin": "",
                "container_styles_padding": "",
                "container_styles_display": "",
                "container_styles_float": "",
                "container_styles_show_advanced_css": "0",
                "container_styles_advanced": "",
                "title_styles_background-color": "",
                "title_styles_border": "",
                "title_styles_border-style": "",
                "title_styles_border-color": "",
                "title_styles_color": "",
                "title_styles_height": "",
                "title_styles_width": "",
                "title_styles_font-size": "",
                "title_styles_margin": "",
                "title_styles_padding": "",
                "title_styles_display": "",
                "title_styles_float": "",
                "title_styles_show_advanced_css": "0",
                "title_styles_advanced": "",
                "row_styles_background-color": "",
                "row_styles_border": "",
                "row_styles_border-style": "",
                "row_styles_border-color": "",
                "row_styles_color": "",
                "row_styles_height": "",
                "row_styles_width": "",
                "row_styles_font-size": "",
                "row_styles_margin": "",
                "row_styles_padding": "",
                "row_styles_display": "",
                "row_styles_show_advanced_css": "0",
                "row_styles_advanced": "",
                "row-odd_styles_background-color": "",
                "row-odd_styles_border": "",
                "row-odd_styles_border-style": "",
                "row-odd_styles_border-color": "",
                "row-odd_styles_color": "",
                "row-odd_styles_height": "",
                "row-odd_styles_width": "",
                "row-odd_styles_font-size": "",
                "row-odd_styles_margin": "",
                "row-odd_styles_padding": "",
                "row-odd_styles_display": "",
                "row-odd_styles_show_advanced_css": "0",
                "row-odd_styles_advanced": "",
                "success-msg_styles_background-color": "",
                "success-msg_styles_border": "",
                "success-msg_styles_border-style": "",
                "success-msg_styles_border-color": "",
                "success-msg_styles_color": "",
                "success-msg_styles_height": "",
                "success-msg_styles_width": "",
                "success-msg_styles_font-size": "",
                "success-msg_styles_margin": "",
                "success-msg_styles_padding": "",
                "success-msg_styles_display": "",
                "success-msg_styles_show_advanced_css": "0",
                "success-msg_styles_advanced": "",
                "error_msg_styles_background-color": "",
                "error_msg_styles_border": "",
                "error_msg_styles_border-style": "",
                "error_msg_styles_border-color": "",
                "error_msg_styles_color": "",
                "error_msg_styles_height": "",
                "error_msg_styles_width": "",
                "error_msg_styles_font-size": "",
                "error_msg_styles_margin": "",
                "error_msg_styles_padding": "",
                "error_msg_styles_display": "",
                "error_msg_styles_show_advanced_css": "0",
                "error_msg_styles_advanced": "",
                "currency": "",
                "unique_field_error": "A form with this value has already been submitted.",
                "changeEmailErrorMsg": "H\u00e3y nh\u1eadp m\u1ed9t \u0111\u1ecba ch\u1ec9 email h\u1ee3p l\u1ec7!",
                "changeDateErrorMsg": "Please enter a valid date!",
                "confirmFieldErrorMsg": "Nh\u1eefng tr\u01b0\u1eddng n\u00e0y ph\u1ea3i kh\u1edbp!",
                "fieldNumberNumMinError": "L\u1ed7i s\u1ed1 t\u1ed1i thi\u1ec3u",
                "fieldNumberNumMaxError": "L\u1ed7i s\u1ed1 t\u1ed1i \u0111a",
                "fieldNumberIncrementBy": "H\u00e3y t\u0103ng theo ",
                "formErrorsCorrectErrors": "H\u00e3y s\u1eeda l\u1ed7i tr\u01b0\u1edbc khi g\u1eedi m\u1eabu n\u00e0y.",
                "validateRequiredField": "\u0110\u00e2y l\u00e0 m\u1ed9t tr\u01b0\u1eddng b\u1eaft bu\u1ed9c.",
                "honeypotHoneypotError": "L\u1ed7i Honeypot",
                "fieldsMarkedRequired": "C\u00e1c tr\u01b0\u1eddng \u0111\u01b0\u1ee3c \u0111\u00e1nh d\u1ea5u <span class=\"ninja-forms-req-symbol\">*<\/span> l\u00e0 b\u1eaft bu\u1ed9c",
                "drawerDisabled": false,
                "ninjaForms": "Ninja Forms",
                "fieldTextareaRTEInsertLink": "Ch\u00e8n li\u00ean k\u1ebft",
                "fieldTextareaRTEInsertMedia": "Ch\u00e8n ph\u01b0\u01a1ng ti\u1ec7n",
                "fieldTextareaRTESelectAFile": "Ch\u1ecdn t\u1eadp tin",
                "fileUploadOldCodeFileUploadInProgress": "\u0110ang t\u1ea3i t\u1eadp tin l\u00ean.",
                "fileUploadOldCodeFileUpload": "T\u1ea2I T\u1eacP TIN L\u00caN",
                "currencySymbol": false,
                "thousands_sep": ".",
                "decimal_point": ",",
                "dateFormat": "m\/d\/Y",
                "startOfWeek": "1",
                "of": "c\u1ee7a",
                "previousMonth": "Previous Month",
                "nextMonth": "Next Month",
                "months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthsShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "weekdaysShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "weekdaysMin": ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
                "currency_symbol": "",
                "beforeForm": "",
                "beforeFields": "",
                "afterFields": "",
                "afterForm": ""
            };
            form.fields = [{
                "objectType": "Field",
                "objectDomain": "fields",
                "editActive": false,
                "order": 1,
                "label": "Ti\u00eau \u0111\u1ec1",
                "type": "textbox",
                "key": "tieu_de_1541040145974",
                "label_pos": "hidden",
                "required": "",
                "default": "",
                "placeholder": "B\u1ea1n c\u1ea7n t\u01b0 v\u1ea5n: du h\u1ecdc, \u0111\u1ecbnh c\u01b0...",
                "container_class": "one-half first",
                "element_class": "",
                "input_limit": "",
                "input_limit_type": "characters",
                "input_limit_msg": "Character(s) left",
                "manual_key": "",
                "admin_label": "",
                "help_text": "",
                "mask": "",
                "custom_mask": "",
                "custom_name_attribute": "",
                "personally_identifiable": "",
                "drawerDisabled": false,
                "id": 13,
                "beforeField": "",
                "afterField": "",
                "parentType": "textbox",
                "element_templates": ["textbox", "input"],
                "old_classname": "",
                "wrap_template": "wrap"
            }, {
                "objectType": "Field",
                "objectDomain": "fields",
                "editActive": false,
                "order": 2,
                "label": "H\u1ecd t\u00ean",
                "key": "ho_ten_1541040140514",
                "type": "textbox",
                "created_at": "2018-10-31 09:56:46",
                "label_pos": "hidden",
                "required": 0,
                "placeholder": "H\u1ecd t\u00ean...",
                "default": "",
                "wrapper_class": "",
                "element_class": "",
                "container_class": "one-half",
                "input_limit": "",
                "input_limit_type": "characters",
                "input_limit_msg": "Character(s) left",
                "manual_key": "",
                "disable_input": "",
                "admin_label": "",
                "help_text": "",
                "desc_text": "",
                "disable_browser_autocomplete": "",
                "mask": "",
                "custom_mask": "",
                "wrap_styles_background-color": "",
                "wrap_styles_border": "",
                "wrap_styles_border-style": "",
                "wrap_styles_border-color": "",
                "wrap_styles_color": "",
                "wrap_styles_height": "",
                "wrap_styles_width": "",
                "wrap_styles_font-size": "",
                "wrap_styles_margin": "",
                "wrap_styles_padding": "",
                "wrap_styles_display": "",
                "wrap_styles_float": "",
                "wrap_styles_show_advanced_css": 0,
                "wrap_styles_advanced": "",
                "label_styles_background-color": "",
                "label_styles_border": "",
                "label_styles_border-style": "",
                "label_styles_border-color": "",
                "label_styles_color": "",
                "label_styles_height": "",
                "label_styles_width": "",
                "label_styles_font-size": "",
                "label_styles_margin": "",
                "label_styles_padding": "",
                "label_styles_display": "",
                "label_styles_float": "",
                "label_styles_show_advanced_css": 0,
                "label_styles_advanced": "",
                "element_styles_background-color": "",
                "element_styles_border": "",
                "element_styles_border-style": "",
                "element_styles_border-color": "",
                "element_styles_color": "",
                "element_styles_height": "",
                "element_styles_width": "",
                "element_styles_font-size": "",
                "element_styles_margin": "",
                "element_styles_padding": "",
                "element_styles_display": "",
                "element_styles_float": "",
                "element_styles_show_advanced_css": 0,
                "element_styles_advanced": "",
                "cellcid": "c3277",
                "custom_name_attribute": "",
                "personally_identifiable": "",
                "drawerDisabled": "",
                "id": 9,
                "beforeField": "",
                "afterField": "",
                "parentType": "textbox",
                "element_templates": ["textbox", "input"],
                "old_classname": "",
                "wrap_template": "wrap"
            }, {
                "objectType": "Field",
                "objectDomain": "fields",
                "editActive": false,
                "order": 3,
                "label": "Email",
                "key": "email",
                "type": "email",
                "created_at": "2018-10-31 09:56:46",
                "label_pos": "hidden",
                "required": 0,
                "placeholder": "Email",
                "default": "",
                "wrapper_class": "",
                "element_class": "",
                "container_class": "one-half first",
                "admin_label": "",
                "help_text": "",
                "desc_text": "",
                "wrap_styles_background-color": "",
                "wrap_styles_border": "",
                "wrap_styles_border-style": "",
                "wrap_styles_border-color": "",
                "wrap_styles_color": "",
                "wrap_styles_height": "",
                "wrap_styles_width": "",
                "wrap_styles_font-size": "",
                "wrap_styles_margin": "",
                "wrap_styles_padding": "",
                "wrap_styles_display": "",
                "wrap_styles_float": "",
                "wrap_styles_show_advanced_css": 0,
                "wrap_styles_advanced": "",
                "label_styles_background-color": "",
                "label_styles_border": "",
                "label_styles_border-style": "",
                "label_styles_border-color": "",
                "label_styles_color": "",
                "label_styles_height": "",
                "label_styles_width": "",
                "label_styles_font-size": "",
                "label_styles_margin": "",
                "label_styles_padding": "",
                "label_styles_display": "",
                "label_styles_float": "",
                "label_styles_show_advanced_css": 0,
                "label_styles_advanced": "",
                "element_styles_background-color": "",
                "element_styles_border": "",
                "element_styles_border-style": "",
                "element_styles_border-color": "",
                "element_styles_color": "",
                "element_styles_height": "",
                "element_styles_width": "",
                "element_styles_font-size": "",
                "element_styles_margin": "",
                "element_styles_padding": "",
                "element_styles_display": "",
                "element_styles_float": "",
                "element_styles_show_advanced_css": 0,
                "element_styles_advanced": "",
                "cellcid": "c3281",
                "custom_name_attribute": "email",
                "personally_identifiable": 1,
                "drawerDisabled": "",
                "id": 10,
                "beforeField": "",
                "afterField": "",
                "parentType": "email",
                "element_templates": ["email", "input"],
                "old_classname": "",
                "wrap_template": "wrap"
            }, {
                "objectType": "Field",
                "objectDomain": "fields",
                "editActive": false,
                "order": 4,
                "label": "\u0110i\u1ec7n tho\u1ea1i",
                "type": "phone",
                "key": "dien_thoai_1541040295848",
                "label_pos": "hidden",
                "required": 1,
                "default": "",
                "placeholder": "\u0110i\u1ec7n tho\u1ea1i (*)",
                "container_class": "one-half",
                "element_class": "",
                "input_limit": "",
                "input_limit_type": "characters",
                "input_limit_msg": "Character(s) left",
                "manual_key": "",
                "admin_label": "",
                "help_text": "",
                "mask": "",
                "custom_mask": "",
                "custom_name_attribute": "phone",
                "personally_identifiable": 1,
                "drawerDisabled": "",
                "id": 14,
                "beforeField": "",
                "afterField": "",
                "parentType": "textbox",
                "element_templates": ["tel", "textbox", "input"],
                "old_classname": "",
                "wrap_template": "wrap"
            }, {
                "objectType": "Field",
                "objectDomain": "fields",
                "editActive": false,
                "order": 5,
                "label": "N\u1ed9i dung",
                "key": "noi_dung_1541040236774",
                "type": "textarea",
                "created_at": "2018-10-31 09:56:46",
                "label_pos": "hidden",
                "required": 0,
                "placeholder": "N\u1ed9i dung",
                "default": "",
                "wrapper_class": "",
                "element_class": "",
                "container_class": "",
                "input_limit": "",
                "input_limit_type": "characters",
                "input_limit_msg": "Character(s) left",
                "manual_key": "",
                "disable_input": "",
                "admin_label": "",
                "help_text": "",
                "desc_text": "",
                "disable_browser_autocomplete": "",
                "textarea_rte": "",
                "disable_rte_mobile": "",
                "textarea_media": "",
                "wrap_styles_background-color": "",
                "wrap_styles_border": "",
                "wrap_styles_border-style": "",
                "wrap_styles_border-color": "",
                "wrap_styles_color": "",
                "wrap_styles_height": "",
                "wrap_styles_width": "",
                "wrap_styles_font-size": "",
                "wrap_styles_margin": "",
                "wrap_styles_padding": "",
                "wrap_styles_display": "",
                "wrap_styles_float": "",
                "wrap_styles_show_advanced_css": 0,
                "wrap_styles_advanced": "",
                "label_styles_background-color": "",
                "label_styles_border": "",
                "label_styles_border-style": "",
                "label_styles_border-color": "",
                "label_styles_color": "",
                "label_styles_height": "",
                "label_styles_width": "",
                "label_styles_font-size": "",
                "label_styles_margin": "",
                "label_styles_padding": "",
                "label_styles_display": "",
                "label_styles_float": "",
                "label_styles_show_advanced_css": 0,
                "label_styles_advanced": "",
                "element_styles_background-color": "",
                "element_styles_border": "",
                "element_styles_border-style": "",
                "element_styles_border-color": "",
                "element_styles_color": "",
                "element_styles_height": "",
                "element_styles_width": "",
                "element_styles_font-size": "",
                "element_styles_margin": "",
                "element_styles_padding": "",
                "element_styles_display": "",
                "element_styles_float": "",
                "element_styles_show_advanced_css": 0,
                "element_styles_advanced": "",
                "cellcid": "c3284",
                "drawerDisabled": "",
                "id": 11,
                "beforeField": "",
                "afterField": "",
                "parentType": "textarea",
                "element_templates": ["textarea", "input"],
                "old_classname": "",
                "wrap_template": "wrap"
            }, {
                "objectType": "Field",
                "objectDomain": "fields",
                "editActive": false,
                "order": 6,
                "label": "\u0110\u0103ng k\u00fd t\u01b0 v\u1ea5n mi\u1ec5n ph\u00ed",
                "key": "dang_ky_tu_van_mien_phi_1541043222535",
                "type": "submit",
                "created_at": "2018-10-31 09:56:46",
                "processing_label": "\u0110ang g\u1eedi...",
                "container_class": "",
                "element_class": "",
                "wrap_styles_background-color": "",
                "wrap_styles_border": "",
                "wrap_styles_border-style": "",
                "wrap_styles_border-color": "",
                "wrap_styles_color": "",
                "wrap_styles_height": "",
                "wrap_styles_width": "",
                "wrap_styles_font-size": "",
                "wrap_styles_margin": "",
                "wrap_styles_padding": "",
                "wrap_styles_display": "",
                "wrap_styles_float": "",
                "wrap_styles_show_advanced_css": 0,
                "wrap_styles_advanced": "",
                "label_styles_background-color": "",
                "label_styles_border": "",
                "label_styles_border-style": "",
                "label_styles_border-color": "",
                "label_styles_color": "",
                "label_styles_height": "",
                "label_styles_width": "",
                "label_styles_font-size": "",
                "label_styles_margin": "",
                "label_styles_padding": "",
                "label_styles_display": "",
                "label_styles_float": "",
                "label_styles_show_advanced_css": 0,
                "label_styles_advanced": "",
                "element_styles_background-color": "",
                "element_styles_border": "",
                "element_styles_border-style": "",
                "element_styles_border-color": "",
                "element_styles_color": "",
                "element_styles_height": "",
                "element_styles_width": "",
                "element_styles_font-size": "",
                "element_styles_margin": "",
                "element_styles_padding": "",
                "element_styles_display": "",
                "element_styles_float": "",
                "element_styles_show_advanced_css": 0,
                "element_styles_advanced": "",
                "submit_element_hover_styles_background-color": "",
                "submit_element_hover_styles_border": "",
                "submit_element_hover_styles_border-style": "",
                "submit_element_hover_styles_border-color": "",
                "submit_element_hover_styles_color": "",
                "submit_element_hover_styles_height": "",
                "submit_element_hover_styles_width": "",
                "submit_element_hover_styles_font-size": "",
                "submit_element_hover_styles_margin": "",
                "submit_element_hover_styles_padding": "",
                "submit_element_hover_styles_display": "",
                "submit_element_hover_styles_float": "",
                "submit_element_hover_styles_show_advanced_css": 0,
                "submit_element_hover_styles_advanced": "",
                "cellcid": "c3287",
                "drawerDisabled": "",
                "id": 12,
                "beforeField": "",
                "afterField": "",
                "label_pos": "above",
                "parentType": "textbox",
                "element_templates": ["submit", "button", "input"],
                "old_classname": "",
                "wrap_template": "wrap-no-label"
            }];
            nfForms.push(form);</script>

        </div>


        <button type="button" class="pum-close popmake-close" aria-label="Close">
            ×
        </button>

    </div>

</div>
<script type='text/javascript' src='wp-content/themes/isharedigital/js/plugins.min4b42.js?ver=4.16.8'></script>
<script type='text/javascript'
        src='wp-content/themes/isharedigital/addons/scrollmagic/scrollmagic.js?ver=4.16.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var zn_do_login = {"ajaxurl": "\/wp-admin\/admin-ajax.php", "add_to_cart_text": "Item Added to cart!"};
    var ZnThemeAjax = {
        "ajaxurl": "\/wp-admin\/admin-ajax.php",
        "zn_back_text": "Back",
        "zn_color_theme": "dark",
        "res_menu_trigger": "992",
        "top_offset_tolerance": "",
        "logout_url": "https:\/\/fupath.com.vn\/wp-login.php?action=logout&redirect_to=https%3A%2F%2Ffupath.com.vn&_wpnonce=e28315feff"
    };
    var ZnSmoothScroll = {"type": "yes", "touchpadSupport": "no"};
    /* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/isharedigital/js/znscript.min4b42.js?ver=4.16.8'></script>
<script type='text/javascript'
        src='wp-content/themes/isharedigital/addons/smooth_scroll/SmoothScroll.min4b42.js?ver=4.16.8'></script>
<script type='text/javascript'
        src='wp-content/themes/isharedigital/addons/slick/slick.min4b42.js?ver=4.16.8'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var ZionBuilderFrontend = {"allow_video_on_mobile": ""};
    /* ]]> */
</script>
<script type='text/javascript'
        src='wp-content/themes/isharedigital/framework/zion-builder/dist/znpb_frontend.bundle982a.js?ver=1.0.23'></script>
<script type='text/javascript' src='wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var pum_vars = {
        "version": "1.7.30",
        "ajaxurl": "https:\/\/fupath.com.vn\/wp-admin\/admin-ajax.php",
        "restapi": "https:\/\/fupath.com.vn\/wp-json\/pum\/v1",
        "rest_nonce": null,
        "default_theme": "3999",
        "debug_mode": "",
        "disable_tracking": "",
        "home_url": "\/",
        "message_position": "top",
        "core_sub_forms_enabled": "1",
        "popups": []
    };
    var ajaxurl = "index.html\/\/fupath.com.vn\/wp-admin\/admin-ajax.php";
    var pum_debug_vars = {
        "debug_mode_enabled": "Popup Maker: Debug Mode Enabled",
        "debug_started_at": "Debug started at:",
        "debug_more_info": "For more information on how to use this information visit https:\/\/docs.wppopupmaker.com\/?utm_medium=js-debug-info&utm_campaign=ContextualHelp&utm_source=browser-console&utm_content=more-info",
        "global_info": "Global Information",
        "localized_vars": "Localized variables",
        "popups_initializing": "Popups Initializing",
        "popups_initialized": "Popups Initialized",
        "single_popup_label": "Popup: #",
        "theme_id": "Theme ID: ",
        "label_method_call": "Method Call:",
        "label_method_args": "Method Arguments:",
        "label_popup_settings": "Settings",
        "label_triggers": "Triggers",
        "label_cookies": "Cookies",
        "label_delay": "Delay:",
        "label_conditions": "Conditions",
        "label_cookie": "Cookie:",
        "label_settings": "Settings:",
        "label_selector": "Selector:",
        "label_mobile_disabled": "Mobile Disabled:",
        "label_tablet_disabled": "Tablet Disabled:",
        "label_event": "Event: %s",
        "triggers": {"click_open": "Click Open", "auto_open": "Time Delay \/ Auto Open"},
        "cookies": {
            "on_popup_close": "On Popup Close",
            "on_popup_open": "On Popup Open",
            "pum_sub_form_success": "Subscription Form: Successful",
            "pum_sub_form_already_subscribed": "Subscription Form: Already Subscribed",
            "manual": "Manual JavaScript",
            "ninja_form_success": "Ninja Form Success"
        }
    };
    var pum_sub_vars = {"ajaxurl": "https:\/\/fupath.com.vn\/wp-admin\/admin-ajax.php", "message_position": "top"};
    var pum_popups = {
        "pum-4005": {
            "disable_on_mobile": false,
            "disable_on_tablet": false,
            "custom_height_auto": false,
            "scrollable_content": false,
            "position_from_trigger": false,
            "position_fixed": false,
            "overlay_disabled": false,
            "stackable": false,
            "disable_reposition": false,
            "close_on_overlay_click": false,
            "close_on_esc_press": false,
            "close_on_f4_press": false,
            "disable_form_reopen": false,
            "disable_accessibility": false,
            "triggers": [{"type": "click_open", "settings": {"cookie_name": "", "extra_selectors": ".dang-ky-tu-van"}}],
            "theme_id": "4003",
            "size": "medium",
            "responsive_min_width": "0%",
            "responsive_max_width": "100%",
            "custom_width": "640px",
            "custom_height": "380px",
            "animation_type": "fade",
            "animation_speed": "350",
            "animation_origin": "center top",
            "location": "center top",
            "position_top": "57",
            "position_bottom": "0",
            "position_left": "0",
            "position_right": "0",
            "zindex": "1999999999",
            "close_button_delay": "0",
            "cookies": [],
            "id": 4005,
            "slug": "dang-ky-tu-van"
        }
    };
    /* ]]> */
</script>
<script type='text/javascript'
        src='https://www.fupath.com.vn/wp-content/uploads/pum/pum-site-scripts.js?defer&amp;generated=1542786778&amp;ver=1.7.30'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
<script type='text/javascript'
        src='wp-content/themes/isharedigital/framework/zion-builder/hg-framework/assets/dist/js/jquery.isotope.min5010.js?ver=4.9.8'></script>
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>

        <symbol id="icon-znb_close-thin" viewBox="0 0 100 100">
            <path d="m87.801 12.801c-1-1-2.6016-1-3.5 0l-33.801 33.699-34.699-34.801c-1-1-2.6016-1-3.5 0-1 1-1 2.6016 0 3.5l34.699 34.801-34.801 34.801c-1 1-1 2.6016 0 3.5 0.5 0.5 1.1016 0.69922 1.8008 0.69922s1.3008-0.19922 1.8008-0.69922l34.801-34.801 33.699 33.699c0.5 0.5 1.1016 0.69922 1.8008 0.69922 0.69922 0 1.3008-0.19922 1.8008-0.69922 1-1 1-2.6016 0-3.5l-33.801-33.699 33.699-33.699c0.89844-1 0.89844-2.6016 0-3.5z"/>
        </symbol>


        <symbol id="icon-znb_play" viewBox="0 0 22 28">
            <path d="M21.625 14.484l-20.75 11.531c-0.484 0.266-0.875 0.031-0.875-0.516v-23c0-0.547 0.391-0.781 0.875-0.516l20.75 11.531c0.484 0.266 0.484 0.703 0 0.969z"></path>
        </symbol>

    </defs>
</svg>
<script id="tmpl-nf-layout" type="text/template">
    <span id="nf-form-title-{{{ data.id }}}" class="nf-form-title">
		{{{ ( 1 == data.settings.show_title ) ? '<h3>' + data.settings.title + '</h3>' : '' }}}
	</span>
    <div class="nf-form-wrap ninja-forms-form-wrap">
        <div class="nf-response-msg"></div>
        <div class="nf-debug-msg"></div>
        <div class="nf-before-form"></div>
        <div class="nf-form-layout"></div>
        <div class="nf-after-form"></div>
    </div>
</script>

<script id="tmpl-nf-empty" type="text/template">

</script>
<script id="tmpl-nf-before-form" type="text/template">
    {{{ data.beforeForm }}}
</script>
<script id="tmpl-nf-after-form" type="text/template">
    {{{ data.afterForm }}}
</script>
<script id="tmpl-nf-before-fields" type="text/template">
    <div class="nf-form-fields-required">{{{ data.renderFieldsMarkedRequired() }}}</div>
    {{{ data.beforeFields }}}
</script>
<script id="tmpl-nf-after-fields" type="text/template">
    {{{ data.afterFields }}}
    <div id="nf-form-errors-{{{ data.id }}}" class="nf-form-errors" role="alert"></div>
    <div class="nf-form-hp"></div>
</script>
<script id="tmpl-nf-before-field" type="text/template">
    {{{ data.beforeField }}}
</script>
<script id="tmpl-nf-after-field" type="text/template">
    {{{ data.afterField }}}
</script>
<script id="tmpl-nf-form-layout" type="text/template">
    <form>
        <div>
            <div class="nf-before-form-content"></div>
            <div class="nf-form-content {{{ data.element_class }}}"></div>
            <div class="nf-after-form-content"></div>
        </div>
    </form>
</script>
<script id="tmpl-nf-form-hp" type="text/template">
    <label for="nf-field-hp-{{{ data.id }}}" aria-hidden="true">
        {{{ nfi18n.formHoneypot }}}
        <input id="nf-field-hp-{{{ data.id }}}" name="nf-field-hp" class="nf-element nf-field-hp" type="text" value=""/>
    </label>
</script>
<script id="tmpl-nf-field-layout" type="text/template">
    <div id="nf-field-{{{ data.id }}}-container"
         class="nf-field-container {{{ data.type }}}-container {{{ data.renderContainerClass() }}}">
        <div class="nf-before-field"></div>
        <div class="nf-field"></div>
        <div class="nf-after-field"></div>
    </div>
</script>
<script id="tmpl-nf-field-before" type="text/template">
    {{{ data.beforeField }}}
</script>
<script id="tmpl-nf-field-after" type="text/template">
    <#
    /*
    * Render our input limit section if that setting exists.
    */
    #>
    <div class="nf-input-limit"></div>
    <#
    /*
    * Render our error section if we have an error.
    */
    #>
    <div id="nf-error-{{{ data.id }}}" class="nf-error-wrap nf-error" role="alert"></div>
    <#
    /*
    * Render any custom HTML after our field.
    */
    #>
    {{{ data.afterField }}}
</script>
<script id="tmpl-nf-field-wrap" type="text/template">
    <div id="nf-field-{{{ data.id }}}-wrap" class="{{{ data.renderWrapClass() }}}" data-field-id="{{{ data.id }}}">
		<#
        /*
        * This is our main field template. It's called for every field type.
		 * Note that must have ONE top-level, wrapping element. i.e. a div/span/etc that wraps all of the template.
		 */
        #>
		<#
		/*
		 * Render our label.
		 */
        #>
		{{{ data.renderLabel() }}}
		<#
		/*
		 * Render our field element. Uses the template for the field being rendered.
		 */
        #>
		<div class="nf-field-element">{{{ data.renderElement() }}}</div>
		<#
		/*
		 * Render our Description Text.
		 */
        #>
		{{{ data.renderDescText() }}}
	</div>
</script>
<script id="tmpl-nf-field-wrap-no-label" type="text/template">
    <div id="nf-field-{{{ data.id }}}-wrap" class="{{{ data.renderWrapClass() }}}" data-field-id="{{{ data.id }}}">
        <div class="nf-field-label"></div>
        <div class="nf-field-element">{{{ data.renderElement() }}}</div>
        <div class="nf-error-wrap"></div>
    </div>
</script>
<script id="tmpl-nf-field-wrap-no-container" type="text/template">

        {{{ data.renderElement() }}}

        <div class="nf-error-wrap"></div>
</script>
<script id="tmpl-nf-field-label" type="text/template">
	<div class="nf-field-label"><label for="nf-field-{{{ data.id }}}"
	                                   id="nf-label-field-{{{ data.id }}}"
	                                   class="{{{ data.renderLabelClasses() }}}">{{{ data.label }}} {{{ ( 'undefined' != typeof data.required && 1 == data.required ) ? '<span class="ninja-forms-req-symbol">
        *</span>' : '' }}} {{{ data.maybeRenderHelp() }}}</label></div>
</script>
<script id="tmpl-nf-field-error" type="text/template">
    <div class="nf-error-msg nf-error-{{{ data.id }}}">{{{ data.msg }}}</div>
</script>
<script id="tmpl-nf-form-error" type="text/template">
    <div class="nf-error-msg nf-error-{{{ data.id }}}">{{{ data.msg }}}</div>
</script>
<script id="tmpl-nf-field-input-limit" type="text/template">
    {{{ data.currentCount() }}} {{{ nfi18n.of }}} {{{ data.input_limit }}} {{{ data.input_limit_msg }}}
</script>
<script id="tmpl-nf-field-null" type="text/template">
</script>
<script id="tmpl-nf-field-textbox" type="text/template">
    <input
            type="text"
            value="{{{ data.value }}}"
            class="{{{ data.renderClasses() }}} nf-element"
            {{{ data.renderPlaceholder() }}}
            {{{ data.maybeDisabled() }}}
            {{{ data.maybeInputLimit() }}}

            id="nf-field-{{{ data.id }}}"
			<# if( ! data.disable_browser_autocomplete && -1 < [ 'city', 'zip' ].indexOf( data.type ) ){ #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
            autocomplete="on"
			<# } else { #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
            {{{ data.maybeDisableAutocomplete() }}}
			<# } #>

            aria-invalid="false"
            aria-describedby="nf-error-{{{ data.id }}}"
            aria-labelledby="nf-label-field-{{{ data.id }}}"

            {{{ data.maybeRequired() }}}
    >
</script>
<script id='tmpl-nf-field-input' type='text/template'>
    <input id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" aria-invalid="false"
           aria-describedby="nf-error-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element" type="text"
           value="{{{ data.value }}}" {{{ data.renderPlaceholder() }}} {{{ data.maybeDisabled() }}}
           aria-labelledby="nf-label-field-{{{ data.id }}}"

           {{{ data.maybeRequired() }}}
    >
</script>
<script id="tmpl-nf-field-email" type="text/template">
    <input
            type="email"
            value="{{{ data.value }}}"
            class="{{{ data.renderClasses() }}} nf-element"

            id="nf-field-{{{ data.id }}}"
			<# if( ! data.disable_browser_autocompletes ){ #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
            autocomplete="email"
			<# } else { #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
            {{{ data.maybeDisableAutocomplete() }}}
			<# } #>
            {{{ data.renderPlaceholder() }}}
            {{{ data.maybeDisabled() }}}

            aria-invalid="false"
            aria-describedby="nf-error-{{{ data.id }}}"
            aria-labelledby="nf-label-field-{{{ data.id }}}"

            {{{ data.maybeRequired() }}}
    >
</script>
<script id="tmpl-nf-field-tel" type="text/template">
    <input
            type="tel"
            value="{{{ data.value }}}"
            class="{{{ data.renderClasses() }}} nf-element"

            id="nf-field-{{{ data.id }}}"
			<# if( ! data.disable_browser_autocompletes ){ #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
            autocomplete="tel"
			<# } else { #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
            {{{ data.maybeDisableAutocomplete() }}}
			<# } #>
            {{{ data.renderPlaceholder() }}}

            aria-invalid="false"
            aria-describedby="nf-error-{{{ data.id }}}"
            aria-labelledby="nf-label-field-{{{ data.id }}}"

            {{{ data.maybeRequired() }}}
    >
</script>
<script id="tmpl-nf-field-textarea" type="text/template">
    <textarea id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" aria-invalid="false"
              aria-describedby="nf-error-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element" {{{
              data.renderPlaceholder() }}} {{{ data.maybeDisabled() }}} {{{ data.maybeDisableAutocomplete() }}} {{{
              data.maybeInputLimit() }}}
              aria-labelledby="nf-label-field-{{{ data.id }}}"

              {{{ data.maybeRequired() }}}
    >{{{ data.value }}}</textarea>
</script>

<!-- Rich Text Editor Templates -->

<script id="tmpl-nf-rte-media-button" type="text/template">
    <span class="dashicons dashicons-admin-media"></span>
</script>

<script id="tmpl-nf-rte-link-button" type="text/template">
    <span class="dashicons dashicons-admin-links"></span>
</script>

<script id="tmpl-nf-rte-unlink-button" type="text/template">
    <span class="dashicons dashicons-editor-unlink"></span>
</script>

<script id="tmpl-nf-rte-link-dropdown" type="text/template">
    <div class="summernote-link">
        URL
        <input type="url" class="widefat code link-url"> <br/>
        Text
        <input type="url" class="widefat code link-text"> <br/>
        <label>
            <input type="checkbox" class="link-new-window"> {{{ nfi18n.fieldsTextareaOpenNewWindow }}}
        </label>
        <input type="button" class="cancel-link extra" value="Cancel">
        <input type="button" class="insert-link extra" value="Insert">
    </div>
</script>
<script id="tmpl-nf-field-submit" type="text/template">
    <input id="nf-field-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element " type="button"
           value="{{{ data.label }}}" {{{ ( data.disabled ) ? 'disabled' : '' }}}>
</script>
<script id='tmpl-nf-field-button' type='text/template'>
    <button id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" class="{{{ data.classes }}} nf-element">
        {{{ data.label }}}
    </button>
</script>
<script id="tmpl-nf-field-html" type="text/template">
    {{{ data.value }}}
</script>


<script>
    var post_max_size = '16';
    var upload_max_filesize = '16';
    var wp_memory_limit = '40';
</script>
<!-- button call action left -->
<div class="btn-left-re">
    <a class="dat_lich fancybox dang-ky-tu-van dang-ky" href="#contact_form_pop">
		<span class="icon">
		  <i class="fa fa-calendar-check" aria-hidden="true"></i>
		</span>
        <span class="text">Đặt lịch <br/> tư vấn</span>
    </a>
    <a class="dang-ky" href="tel:0989844849" title="Gọi diện thoại tư vấn">
		<span class="icon">
		  <i class="fa fa-phone" aria-hidden="true"></i>
		</span>
        <span class="text">Hotline</span>
    </a>
</div>
<!-- End button call action left -->
</body>

<!-- Mirrored from fupath.com.vn/category/gioi-thieu/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Nov 2018 08:02:37 GMT -->
</html>

<!-- Page generated by LiteSpeed Cache 2.7.2 on 2018-11-22 14:58:04 -->